header {
    width: 100%;
    padding: 28px 8%;
}

#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    left: 0;
}

#nav_list {
    display: flex;
    list-style: none;
    gap: 36px;
}


.nav-item a {
    width: fit-content;
    text-decoration: none;
    color: #A11111;
    font-weight: 650;
}


.nav-item.active a {
    color: #E41818;
    border-bottom: 3px solid #A11111;
}
